<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bienvenido - Denté</title>
  <link rel="stylesheet" href="">
  <style>

html, body{
  height:100%;
  width: 100%;
  margin:0;
  display: flex;
}
html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  /* border: 1px solid black; */
}

  
section {
  height: 100%;
  width: 100%;
  display: flex;
}

.color-blue {
  height: 100%;
  width: 70%;
  background-color: #4373B9;
}

.color-white {
  height: 100%;
  width: 30%;
  background-color: white;
}

  </style>
</head>
<body>
  <section>

    <aside class="color-blue">

      <p>Resgistrase</p>

      <h1>BIENVENIDO</h1>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M15 11l-3 3l-3 -3"></path> <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18z"></path> </svg> 

    </aside>
    <aside class="color-white">

      <img src="https://imgs.search.brave.com/5E04QILnkv8xuGEqpE4qXYaRiSiETBn198MqrKtAlUk/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/YXBweXdlYi5lcy9k/aWNjaW9uYXJpby93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyNC8w/NC9JbWcuanBn" alt="cosaa">

    </aside>

  </section>
</body>
</html>

