<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido - Denté</title>
  <link rel="stylesheet" href="../assets/css/global.css">
  <link rel="stylesheet" href="../assets/css/login.css">


</head>
<body>
  <section>

    <aside class="color-blue">

      <!-- <p>Resgistrase</p> -->

      <h1>BIENVENIDO</h1>

      <svg class="circle-chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M15 11l-3 3l-3 -3"></path> <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18z"></path> </svg> 

    </aside>
    <aside class="color-white">

      <img class="img-logo" src="https://res.cloudinary.com/djxosjk7m/image/upload/fl_preserve_transparency/v1746737281/2.-_logo_inicial_yc1c07.jpg?_s=public-apps" alt="cosaa">

    </aside>

  </section>

  <div class="modal" id="loginModal">
    
  </div>


<script type="module" src="../assets/js/login.js"></script>
</body>
</html>
