<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <link rel="stylesheet" href="./assets/css/global.css">
    <link rel="stylesheet" href="./assets/css/pacientes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    

</head>
<body>
    <header class="header">

  <div class="contain-img-logo">

    <img class="img-logo" id="img-logo" src="https://res.cloudinary.com/djxosjk7m/image/upload/fl_preserve_transparency/v1746737262/057b8129ed3ed659c28cf89fdb92eac25f21fad2_chz2ut.jpg?_s=public-apps" alt="">

  </div>

  <div class="search-box-user">

    <input class="text-input" type="text" placeholder="Buscar pacientes,citas ...">

    <div class="user">

      <img src="https://imgs.search.brave.com/SMPQEU6hs_kEFGfDbP-8datnmpThKtzFWgQMUXJiw2Y/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8x/LzEyL1VzZXJfaWNv/bl8yLnN2Zw" alt="img-user">

      <span class="user-name" id="user-name">Nombre</span>

    </div>

  </div>

</header>

<div class="sidebar">
    <ul>
      <li>
        <a href="#" class = "redirectprincipal">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
              <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
          <span class="label">Principal</span>
        </a>
      </li>
      <li>
        <a href="#" class = "redirectpacientes">
             <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
              <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M17 10h2a2 2 0 0 1 2 2v1" />
              <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
            </svg>
          <span class="label">Pacientes</span>
        </a>
      </li>
      <li>
        <a href="#" class = "redirectcitas">
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
            <line x1="16" y1="2" x2="16" y2="6" />
            <line x1="8" y1="2" x2="8" y2="6" />
            <line x1="3" y1="10" x2="21" y2="10" />
          </svg>
          <span class="label">Citas</span>
        </a>
      </li>
      <li>
        <a href="#" class = "redirectpagos">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          > 
            <path d="M12 19h-6a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v4.5" />
            <path d="M3 10h18" />
            <path d="M16 19h6" />
            <path d="M19 16l3 3l-3 3" />
            <path d="M7.005 15h.005" />
            <path d="M11 15h2" />
          </svg>
          <span class="label">Pagos</span>
        </a>
      </li>
      <li>
        <a href="#" class = "redirectinventario">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M21 12.5v-4.509a1.98 1.98 0 0 0 -1 -1.717l-7 -4.008a2.016 2.016 0 0 0 -2 0l-7 4.007c-.619 .355 -1 1.01 -1 1.718v8.018c0 .709 .381 1.363 1 1.717l7 4.008a2.016 2.016 0 0 0 2 0" />
            <path d="M12 22v-10" />
            <path d="M12 12l8.73 -5.04" />
            <path d="M3.27 6.96l8.73 5.04" />
            <path d="M16 19h6" />
            <path d="M19 16v6" />
          </svg>
          <span class="label">Inventario</span>
        </a>
      </li>
      <li>
        <a href="#" class = "redirectconfiguracion">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          </svg>
          <span class="label">Configuraciòn</span>
        </a>
      </li>
    </ul>
    <div class="logout">
      <a href="#" class="redirectlogin">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
            <polyline points="16 17 21 12 16 7" />
            <line x1="21" y1="12" x2="9" y2="12" />
          </svg>
        <span class="label">Salir</span>
      </a>
    </div>
  </div>

  <section class="main-pacientes">

    <article class="search-box-addP">
      <h2>Pacientes</h2>
      <input type="text" value="" class="search-box" placeholder="Buscar pacientes por nombre, correo, o telefono...">
      <div class="content-buttonS">
        <input type="button" value="+ Añadir Paciente" class="add-paciente" id="openModal">
      </div>
    </article>

    <article class="contentP">

      <div class="pacientes">
        <input type="button" class="pat" value="Cargando usuarios ...">

      </div>

      <div class="paciente">

        <div class="content-name">

          <p class="name">Nombre</p>
          <div class="buttons">
            <!-- <span>citas</span>
            <span>pagos</span> -->
          </div>

        </div>

        <div class="content-data">

          <p class="tel">Telefono:</p>
          <p class="email">Correo:</p> 
          <p class="date">Fecha de nacimiento:</p>
          <p class="adress">direccion:</p>
          <p class="numI">Numero interior:</p>
          <p class="numE">Numero exterior:</p>

          <p class="edit">editar</p>

        </div>

      </div>

    </article>

  </section>

  <div id="ventanaFlotante" class="modal">
  <div class="modal-contenido">
    <span class="cerrar" id="cerrarVentana">&times;</span>
    <h2>Añadir Paciente</h2>
    <form id="formularioEjemplo">
      <input type="text" name="nombre" placeholder="Nombre" required>
      <input type="email" name="correo" placeholder="Correo electrónico" required>
      <input type="text" name="telefono" placeholder="Teléfono" required>
      <input type="date" name="fechaNacimiento" placeholder="Fecha de nacimiento" required>
      <p>Direccion:</p>
      <input type="text" name="colonia" id="colonia" placeholder="Colonia" required>
      <input type="text" name="calle" id="calle" placeholder="Calle" required>
      <input type="text" name="cp" id="cp" placeholder="C.P" required>
      <input type="text" name="numE" id="numE" placeholder="Numero exterior">
      <input type="text" name="numI" id="numI" placeholder="Numero interior">
      <button type="submit" class="send-data">Registrar</button>
    </form>
  </div>
</div>



<script src="../assets/js/global.js"></script>
<script src="../assets/js/pacientes.js"></script>

<script>
  function calcularEdad(fechaNacimiento) {
  if (!fechaNacimiento) return 'Edad desconocida';
  const hoy = new Date();
  const nacimiento = new Date(fechaNacimiento);
  let edad = hoy.getFullYear() - nacimiento.getFullYear();
  const mes = hoy.getMonth() - nacimiento.getMonth();
  if (mes < 0 || (mes === 0 && hoy.getDate() < nacimiento.getDate())) {
    edad--;
  }
  return `${edad} años`;
}

</script>

</body>
</html>