<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
    <link rel="stylesheet" href="./assets/css/global.css">
    <link rel="stylesheet" href="./assets/css/pagos.css">
</head>
<body>
    <header class="header">

  <div class="contain-img-logo">

    <img class="img-logo" id="img-logo" src="https://res.cloudinary.com/djxosjk7m/image/upload/fl_preserve_transparency/v1746737262/057b8129ed3ed659c28cf89fdb92eac25f21fad2_chz2ut.jpg?_s=public-apps" alt="">

  </div>

  <div class="search-box-user">

    <input class="text-input" type="text" placeholder="Buscar pacientes,citas ...">

    <div class="user">

      <img src="https://imgs.search.brave.com/SMPQEU6hs_kEFGfDbP-8datnmpThKtzFWgQMUXJiw2Y/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8x/LzEyL1VzZXJfaWNv/bl8yLnN2Zw" alt="img-user">

      <span class="user-name" id="user-name">Nombre</span>

    </div>

  </div>

<script src="./assets/js/global.js"></script>
</header>
</body>
</html>