html, body{
  height:100%;
  width: 100%;
  margin:0;
  display: flex;
}
html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  /* border: 1px solid black; */
}

  
section {
  height: 100%;
  width: 100%;
  display: flex;
}

.color-blue {
  height: 100%;
  width: 70%;
  background-color: #4373B9;
}

.color-white {
  height: 100%;
  width: 30%;
  background-color: white;
}